<div class="form-container">
    <h2>Search Movie</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div formGroupName="idAndTitre">
        <div class="form-group">
          <label for="identifiant">Identifiant:</label>
          <input type="text" id="identifiant" formControlName="Identifiant">
        </div>
        <div class="form-group">
          <label for="titre">Titre:</label>
          <input type="text" id="titre" formControlName="Titre">
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <select id="type" formControlName="Type">
          <option value="film">Film</option>
          <option value="série">Série</option>
          <option value="épisode">Épisode</option>
        </select>
      </div>
      <div class="form-group">
        <label for="annee">Année de sortie:</label>
        <input type="number" id="annee" formControlName="Année de sortie">
      </div>
      <div class="form-group">
        {{myForm.get('Identifiant')?.value}}
        <label for="fiche">Fiche:</label>
        <!-- <select id="fiche" formControlName="Fiche" [disabled]="myForm.get('Identifiant')?.value"> -->
        <select id="fiche" formControlName="Fiche" [disabled]="true">
          <option value="complète">Complète</option>
          <option value="courte">Courte</option>
        </select>
      </div>
      <div class="error-message" *ngIf="myForm.invalid && myForm.dirty">
        <div *ngIf="myForm.get('idAndTitre')?.hasError('isRequired')">L'un des deux champs 'Identifiant' ou 'Titre' doit être renseigné.</div>
        <div *ngIf="myForm.get('Année de sortie')?.hasError('min')">
          L'année doit être comprise entre
          {{ myForm.get('Année de sortie')?.getError('min').minimale }} et
          {{ myForm.get('Année de sortie')?.getError('min').maximale }}.
        </div>
      </div>
      <!-- <button type="submit" [disabled]="myForm.invalid">Valider</button> -->
      <button type="submit" >Search</button>
    </form>
</div>
