.form-container {
    max-width: 450px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #E0E0E0;
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #F71F72;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #F71F72;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    display: block;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.error-message {
    color: #F71F72;
    margin-top: 10px;
}

.form-group {
    position: relative;
}

#fiche:disabled {
    background-color: #eee;
    color: #888;
}

fieldset {
    border-width: 0;
}
