<div class="form-container">
    <h2>Search Movie</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div formGroupName="idAndTitre">
        <div class="form-group">
          <label for="identifiant">Identifiant:</label>
          <input type="text" id="identifiant" formControlName="Identifiant">
        </div>
        <div class="form-group">
          <label for="titre">Titre:</label>
          <input type="text" id="titre" formControlName="Titre">
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <select id="type" formControlName="Type">
          <option *ngFor="let item of enumType | keyvalue" [value]="item.key">{{item.key | titlecase}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="annee">Année de sortie:</label>
        <input type="number" id="annee" formControlName="Année de sortie">
      </div>
      <div class="form-group">
        <label for="fiche">Fiche:</label>
        <!-- La liste box Fiche doit être activée seulement si le champ Identifiant est renseigné. -->
        <fieldset [disabled]="!myForm.value['idAndTitre']?.['Identifiant']">
          <select id="fiche" formControlName="Fiche">
            <option *ngFor="let item of enumFiche | keyvalue" [value]="item.key">{{item.key | titlecase}}</option>
          </select>
        </fieldset>
      </div>
      <div class="error-message" *ngIf="submitted && myForm.invalid && myForm.dirty">
        <div *ngIf="myForm.get('idAndTitre')?.hasError('isRequired')">L'un des deux champs 'Identifiant' ou 'Titre' doit être renseigné.</div>
        <div *ngIf="myForm.get('Année de sortie')?.hasError('min')">
          L'année doit être comprise entre
          {{ myForm.get('Année de sortie')?.getError('min').minimale }} et
          {{ myForm.get('Année de sortie')?.getError('min').maximale }}.
        </div>
      </div>
      <button type="submit">Search</button>
    </form>
</div>
